<h2>Perfil {{usuario.first_name}}</h2>
<hr>
<p>Nombre: {{usuario.nombre}} -  Correo Electrónico: <strong>{{usuario.email}}</strong> - Rol: {{usuario.rol}}</p>
<br>
<br>


<a href="/products">Productos</a> <br>