<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/Button.css">
    <link rel="stylesheet" href="css/Product.css">
    
    <title>{{titulo}}</title>
</head>
<body>
    {{{body}}}
        <br><br>

   
    <a href="/">Login Page</a> <br>
    <a href="/registro">Registrate</a> <br>
    <a href="/api/sessions/current">Perfil</a> <br>
    <a href="/api/sessions/logout">Logout</a> <br>

    <br><br><br><br><br><br><br><br><br>
</body>
</html>